<Limit GET POST OPTIONS>
#  Order allow,deny
#  Allow from all
   Require all denied
</Limit>
<LimitExcept GET POST OPTIONS>
#  Order deny,allow
#  Deny from all
   Require all denied
</LimitExcept>
#Order allow,deny
#Allow from all
Require all granted
