#!/usr/bin/env bash
CUR=`dirname $0`
cat <<_EOF_
<?php
namespace Cockatoo;
require_once('/usr/local/cockatoo/def.php');
require_once(Config::COCKATOO_ROOT.'utils/beak.php');

class BeakFileTest extends \PHPUnit_Framework_TestCase
{
  function set(){
    Config::\$BEAKS = array (
      Def::BP_LAYOUT   => 'Cockatoo\BeakFile'   ,
      null
      );
  }
  `cat $CUR/BeakTestcase.phpi`
  `cat $CUR/BeakTestcaseL.phpi`
}
_EOF_
