#!/usr/bin/env bash
CUR=`dirname $0`
cat <<_EOF_
<?php
namespace Cockatoo;
require_once 'PHPUnit/Framework.php';
// Cockatooがcwdを変更するためbackup
\$orgCwd = getcwd();
\$COCKATOO_CONF=getenv('COCKATOO_CONF');
if ( ! \$COCKATOO_CONF ) {
  \$COCKATOO_ROOT=getenv('COCKATOO_ROOT');
  \$COCKATOO_CONF=\$COCKATOO_ROOT.'config.php';
}
require_once(\$COCKATOO_CONF);
// require_once(dirname(__FILE__) . '/config.php');
// $COCKATOO_ROOT=getenv('COCKATOO_ROOT');
require_once(\$COCKATOO_ROOT.'utils/beak.php');

// Cockatooがcwdを変更するがPHPUnitと競合するため戻す
chdir(\$orgCwd);

class BeakFileTest extends \PHPUnit_Framework_TestCase
{
  function set(){
    Config::\$BEAKS = array (
      Def::BP_LAYOUT   => 'Cockatoo\BeakFile'   ,
      null
      );
  }
  `cat $CUR/BeakTestcase.phpi`
}
_EOF_
